<!-- <navbar></navbar> -->

<!-- <div class="layout"> -->

<!-- <header></header>

    <about></about> -->

<!-- <collections></collections>

    <roadmap></roadmap>

    <launch-roadmap></launch-roadmap>

    <partners></partners>

    <footer></footer> -->

<!-- </div> -->

<!-- <div class="footer" [ngStyle]="{bottom: contentHeight + 'px'}">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. In quidem eos quisquam nam et repellendus voluptatem voluptas numquam. Ea numquam laudantium est ab. Quidem officiis sequi obcaecati cum eum non!
    <shardible-footer></shardible-footer>
</div> -->

<shardible-header></shardible-header>

<div>
  <div>
    <div class="desktop-video">
      <video
        class="video"
        width="100%"
        style="object-fit: cover"
        height="600"
        muted
        autoplay="true"
        playsinline
        loop
      >
        <source src="../../../assets/bannerDesktop.mp4" type="video/mp4" />
      </video>
    </div>

    <div class="mobile-video">
      <video width="100%" style="object-fit: cover" height="600" autoplay loop>
        <source src="../../../assets/bannerMobile.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
  <div
    style="
      position: absolute;
      left: 0;
      top: 300px;
      bottom: 0;
      margin-left: 30px;
    "
  >
    <div
      style="
        width: 150px;
        height: 150px;
        overflow: hidden;
        border-width: 10px;
        border-color: azure;
        box-shadow: rgba(176, 176, 176, 0.16) 0px 1px 4px,
          rgb(253, 253, 253) 0px 0px 0px 3px;
        border-radius: 20px;
      "
    >
      <img
        style="object-fit: cover; width: 150px; height: 150px"
        src="../../../assets/mawc-logo.avif"
      />
    </div>
    <h1 style="color: black; margin-top: 10px">MAWC NFT</h1>
    <p style="color: black; margin-top: 5px; font-size: 20px">By Shardible</p>
    <button
      style="
        cursor: text;
        background-color: black;
        color: white;
        outline: none;
        border: none;
        border-radius: 10px;
        padding: 10px 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
      "
    >
      <div
        style="
          width: 10px;
          height: 10px;
          background-color: greenyellow;
          border-radius: 5px;
          margin-right: 5px;
        "
      ></div>
      MINTING NOW
    </button>
  </div>
</div>

<div>
  <h1
    style="
      font-size: 20px;
      margin-left: 50px;
      margin-top: 40px;
      display: inline-block;
      padding: 0.4rem 0;
      border-bottom: 4px solid #0a9b9a;
      outline: 0;
    "
  >
    Mint
  </h1>
</div>

<div
  class="mint-layout"
  style="
    padding: 0 100px;
    margin-top: 100px;
    display: flex;
    align-items: center;
  "
>
  <div>
    <h1>Mint Schedule</h1>
    <div class="vtl">
      <div class="event">
        <p class="date">Shardible Team</p>
        <p class="txt">Starts: April 14 at 11:00 AM UTC</p>
        <p class="txt">Price: 0 ETH</p>
      </div>
      <div class="event">
        <p class="date">Whitelist</p>
        <p class="txt">Starts: April 14 at 03:00 PM UTC</p>
        <p class="txt">Price: 0.019 ETH</p>
        <p class="txt">Limit: 3 per wallet</p>
      </div>
      <div class="event">
        <p class="date">Public Stage</p>
        <p class="txt">Starts: April 15 at 03:00 PM UTC</p>
        <p class="txt">Price: 0.024ETH</p>
        <p class="txt">Limit: 5 per wallet</p>
      </div>
    </div>
  </div>
  <main style="margin-left: 20px">
    <iframe
      class="ifram"
      src="https://ipfs.thirdwebcdn.com/ipfs/QmbAgC8YwY36n8H2kuvSWsRisxDZ15QZw3xGZyk9aDvcv7/erc721.html?contract=0xc17D21e5ecdc0cCf7a366eebD7fccDaB68c1e733&chain=%7B%22name%22%3A%22Ethereum+Mainnet%22%2C%22chain%22%3A%22ETH%22%2C%22rpc%22%3A%5B%22https%3A%2F%2Fethereum.rpc.thirdweb.com%2F5a9bc94b87f7cbbbfbbc234bf1e07f0adf5f3cf3012c9f26f9fc9820d64df93a%22%5D%2C%22nativeCurrency%22%3A%7B%22name%22%3A%22Ether%22%2C%22symbol%22%3A%22ETH%22%2C%22decimals%22%3A18%7D%2C%22shortName%22%3A%22eth%22%2C%22chainId%22%3A1%2C%22testnet%22%3Afalse%2C%22slug%22%3A%22ethereum%22%7D&theme=dark"
      height="600px"
      frameborder="0"
    ></iframe>
  </main>
</div>

<div>
  <footer>
    <shardible-footer></shardible-footer>
  </footer>
</div>
